<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Welcome to Flexmonster Pivot Table and Charts Component</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="headerLogo">
            玉环报表样例
        </div>
    </div>

    <script type="text/javascript" src="../../js/jquery.min.js"></script>

    <script type="text/javascript" src="../../flexmonster/flexmonster.js"></script>


    <script type="text/javascript">

        var jsonData = [
            {
                "com": {"type": "string", "caption": "公司"},
                "age": {"type": "number", "caption": "年龄"},
                "tag4": {"type": "number", "caption": "高血压患者"},
                "tag5": {"type": "number", "caption": "糖尿病患者"},
                "tag6": {"type": "number", "caption": "高血压高危"},
                "tag7": {"type": "number", "caption": "糖尿病高危"},
                "tag8": {"type": "number", "caption": "体重高危"},
                "tag9": {"type": "number", "caption": "膳食高危"}
            },
            {"com": "王鹏飞", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 52, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 45, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 22, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 27, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 27, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 21, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 24, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 21, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王鹏飞", "age": 45, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 44, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 48, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "王琨", "age": 48, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 37, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 55, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 40, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 39, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 22, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈斌", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 38, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 35, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 24, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 22, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 45, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 50, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 40, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 27, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 52, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "王鹏飞", "age": 53, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 57, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 41, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 38, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 43, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 62, "tag4": 1, "tag5": 1, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 47, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 37, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 37, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "叶忠勇", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 45, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 22, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 21, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 26, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 41, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 50, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 24, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 26, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 18, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 60, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 48, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 27, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 57, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 50, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 44, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 47, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 46, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 44, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 38, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 40, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 41, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 44, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 37, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 46, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "娄雪燕", "age": 24, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 27, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "翁翠玲", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈娅丽", "age": 26, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 46, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 27, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 54, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "娄雪燕", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈娅丽", "age": 48, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 39, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "翁翠玲", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 45, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 22, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 23, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 51, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 38, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 35, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 39, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈斌", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 51, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 26, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 22, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈斌", "age": 26, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 51, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "陈斌", "age": 39, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 56, "tag4": 1, "tag5": 1, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 44, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 45, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 39, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 25, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 33, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 64, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 40, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 39, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 30, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 49, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "陈斌", "age": 24, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 34, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 44, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 37, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 44, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 38, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 47, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 45, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 32, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 27, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "叶忠勇", "age": 47, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 40, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 42, "tag4": 0, "tag5": 0, "tag6": 1, "tag7": 1, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 38, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 28, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 35, "tag4": 0, "tag5": 0, "tag6": 1, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 46, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 48, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 38, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 48, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 47, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 55, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 43, "tag4": 0, "tag5": 0, "tag6": 1, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 42, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 55, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 31, "tag4": 0, "tag5": 0, "tag6": 1, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 50, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 31, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 36, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 1, "tag9": 1},
            {"com": "傅秀丽", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 45, "tag4": 0, "tag5": 0, "tag6": 1, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 29, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 48, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 37, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 40, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 37, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 43, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 0},
            {"com": "傅秀丽", "age": 50, "tag4": 0, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 0, "tag9": 1},
            {"com": "傅秀丽", "age": 36, "tag4": 1, "tag5": 0, "tag6": 0, "tag7": 0, "tag8": 1, "tag9": 1}
        ];

        var pivot = jQuery("#pivotContainer").flexmonster({
            toolbar: true,
            report: {
                dataSource: {
                    data: jsonData
                }
            },
            licenseKey: "Z7PY-XCIE1E-2D5A5H-3H4Q5G"
        });

    </script>

    <br/>
</div>
</body>
</html>
