<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="../../css/public_page.css">
	  <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/dataExchange.css">
    <link rel="stylesheet" type="text/css" href="../../css/page.css"/>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/page.js"></script>
</head>
<body>
		<div id="l_head">
		<div id="l_head_up">
			<div class="l_outer">
				<p class="l_exit">欢迎您，<span>超级管理员</span><a href="">退出登陆</a></p>
			</div>
			
		</div>
		<div id="l_head_down">
			<div class="l_outer">
				<p class="l_logo"><img src="images/public_page/head_left_03.png" alt="康赛玉环功能社区"></p>
				<ul class="l_nav">
					<li><a href="classify.do">患者分类</a></li>
					<li style="background: #e5e5e4;border-bottom: 4px solid #00a85f;"s><a href="input.do">健康报表</a></li>
					<li><a href="template.do">健康资讯</a></li>
					<li><a href="message.do">消息提醒</a></li>
					<li><a>权限管理</a></li>
				</ul>
			</div>
		
		</div>
	</div>
	<div class="c_warp">
    <div class="c_conter">
        <div class="c_conterl">
            <span class="c_tit">报表</span>
            <div class="c_nvg">
                <a class="c_nvgl" href="input.do">报表一</a>
                <a href="organ.do" style="color:#09a25f;">报表二</a>
                <a href="danger.do">报表三</a>
                <a href="history.do">报表四</a>
            </div>
        </div>
        <div class="c_conterr">
            <div class="c_conterrbb">
             <table width="800px" border="1px" height="600px" id="tablereport2" style="text-align: center;">
             <caption>靶器官损害情况统计</caption>
          		<tr class="tr1"  height="50px">
          			<td width="180px" ></td>
          			<td width="220px"></td>
          			<td >$!{json2[1].Surveyor}</td>
          			<td >$!{json2[2].Surveyor}</td>
          			<td >$!{json2[3].Surveyor}</td>
          			<td >$!{json2[4].Surveyor}</td>
          			<td >全体</td>
          		</tr>
          		<tr>
          			<td>心脏损害</td>
          			<td>心肌梗死</td>
          			<td>$!{json2[1].G1_2_sum}</td>
          			<td>$!{json2[2].G1_2_sum}</td>
          			<td>$!{json2[3].G1_2_sum}</td>
          			<td>$!{json2[4].G1_2_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>左室肥厚</td>
          			<td>$!{json2[1].G1_3_sum}</td>
          			<td>$!{json2[2].G1_3_sum}</td>
          			<td>$!{json2[3].G1_3_sum}</td>
          			<td>$!{json2[4].G1_3_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>心力衰竭</td>
          			<td>$!{json2[1].G1_4_sum}</td>
          			<td>$!{json2[2].G1_4_sum}</td>
          			<td>$!{json2[3].G1_4_sum}</td>
          			<td>$!{json2[4].G1_4_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>心律失常</td>
          			<td>$!{json2[1].G1_5_sum}</td>
          			<td>$!{json2[2].G1_5_sum}</td>
          			<td>$!{json2[3].G1_5_sum}</td>
          			<td>$!{json2[4].G1_5_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>心绞痛</td>
          			<td>$!{json2[1].G1_6_sum}</td>
          			<td>$!{json2[2].G1_6_sum}</td>
          			<td>$!{json2[3].G1_6_sum}</td>
          			<td>$!{json2[4].G1_6_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>冠状动脉血运重</td>
          			<td>$!{json2[1].G1_7_sum}</td>
          			<td>$!{json2[2].G1_7_sum}</td>
          			<td>$!{json2[3].G1_7_sum}</td>
          			<td>$!{json2[4].G1_7_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td>合计</td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          		</tr>
          		<tr>
          			<td>脑血管疾病</td>
          			<td>缺血性卒中</td>
          			<td>$!{json2[1].G2_2_sum}</td>
          			<td>$!{json2[2].G2_2_sum}</td>
          			<td>$!{json2[3].G2_2_sum}</td>
          			<td>$!{json2[4].G2_2_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>脑出血</td>
          			<td>$!{json2[1].G2_3_sum}</td>
          			<td>$!{json2[2].G2_3_sum}</td>
          			<td>$!{json2[3].G2_3_sum}</td>
          			<td>$!{json2[4].G2_3_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>短暂性脑缺血发作(TIA)</td>
          			<td>$!{json2[1].G2_4_sum}</td>
          			<td>$!{json2[2].G2_4_sum}</td>
          			<td>$!{json2[3].G2_4_sum}</td>
          			<td>$!{json2[4].G2_4_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td>肾功能不全</td>
          			<td>糖尿病肾病</td>
          			<td>$!{json2[1].G3_2_sum}</td>
          			<td>$!{json2[2].G3_2_sum}</td>
          			<td>$!{json2[3].G3_2_sum}</td>
          			<td>$!{json2[4].G3_2_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>肾功能衰竭</td>
          			<td>$!{json2[1].G3_3_sum}</td>
          			<td>$!{json2[2].G3_3_sum}</td>
          			<td>$!{json2[3].G3_3_sum}</td>
          			<td>$!{json2[4].G3_3_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td>视网膜损害</td>
          			<td>有</td>
          			<td>$!{json2[1].G4_sum}</td>
          			<td>$!{json2[2].G4_sum}</td>
          			<td>$!{json2[3].G4_sum}</td>
          			<td>$!{json2[4].G4_sum}</td>	
          			<td></td>
          		</tr>
          		<tr>
          			<td>外周血管疾病</td>
          			<td>闭塞性周围动脉粥样硬化</td>
          			<td>$!{json2[1].G5_1_sum}</td>
          			<td>$!{json2[2].G5_1_sum}</td>
          			<td>$!{json2[3].G5_1_sum}</td>
          			<td>$!{json2[4].G5_1_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>雷诺综合症</td>
          			<td>$!{json2[1].G5_2_sum}</td>
          			<td>$!{json2[2].G5_2_sum}</td>
          			<td>$!{json2[3].G5_2_sum}</td>
          			<td>$!{json2[4].G5_2_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>血栓性静脉炎</td>
          			<td>$!{json2[1].G5_3_sum}</td>
          			<td>$!{json2[2].G5_3_sum}</td>
          			<td>$!{json2[3].G5_3_sum}</td>
          			<td>$!{json2[4].G5_3_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td>合计</td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          		</tr>
          		
         	</table>
            </div>
        </div>
    </div>
</div>
<div id="l_foot">
	<p>Copyright(C)2010-2018康赛体检版权所有 工信部备案号:.京ICP备15960842号</p>
</div>
</body>
</html>