<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="../../css/public_page.css">
	  <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/dataExchange.css">
    <link rel="stylesheet" type="text/css" href="../../css/page.css"/>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/page.js"></script>
</head>
<body>
		<div id="l_head">
		<div id="l_head_up">
			<div class="l_outer">
				<p class="l_exit">欢迎您，<span>超级管理员</span><a href="">退出登陆</a></p>
			</div>	
		</div>
		<div id="l_head_down">
			<div class="l_outer">
				<p class="l_logo"><img src="images/public_page/head_left_03.png" alt="康赛玉环功能社区"></p>
				<ul class="l_nav">
					<li><a href="classify.do">患者分类</a></li>
					<li style="background: #e5e5e4;border-bottom: 4px solid #00a85f;"><a href="input.do">健康报表</a></li>
					<li><a href="template.do">健康资讯</a></li>
					<li><a href="message.do">消息提醒</a></li>
					<li><a>权限管理</a></li>
				</ul>
			</div>
		
		</div>
	</div>
	<div class="c_warp">
    <div class="c_conter">
        <div class="c_conterl">
            <span class="c_tit">报表</span>
            <div class="c_nvg">
                <a href="input.do">报表一</a>
                <a href="organ.do">报表二</a>
                <a href="danger.do">报表三</a>
                 <a href="history.do" style="color:#09a25f;">报表四</a>
            </div>
        </div>
        <div class="c_conterr">
            <div class="c_conterrbb">
             <table width="800px" border="1px" height="600px" id="tablereport4" style="text-align: center;">
             <caption>病史统计</caption>
          		<tr class="tr1"  height="50px">
          			<td width="180px" ></td>
          			<td width="220px"></td>
          			<td >$!{json4[1].Surveyor}</td>
          			<td >$!{json4[2].Surveyor}</td>
          			<td >$!{json4[3].Surveyor}</td>
          			<td >$!{json4[4].Surveyor}</td>
          			<td >全体</td>
          		</tr>
          			<tr>
          			<td>高血压</td>
          			<td>有</td>
          			<td>$!{json4[1].B1_sum}</td>
          			<td>$!{json4[2].B1_sum}</td>
          			<td>$!{json4[3].B1_sum}</td>
          			<td>$!{json4[4].B1_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>近两周服用降压药</td>
          			<td>$!{json4[1].B1b_sum}</td>
          			<td>$!{json4[2].B1b_sum}</td>
          			<td>$!{json4[3].B1b_sum}</td>
          			<td>$!{json4[4].B1b_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>规律服用药物1</td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          		</tr>
          			<tr>
          			<td>脑卒中</td>
          			<td>有</td>
          			<td>$!{json4[1].B3_sum}</td>
          			<td>$!{json4[2].B3_sum}</td>
          			<td>$!{json4[3].B3_sum}</td>
          			<td>$!{json4[4].B3_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td>心肌梗死</td>
          			<td>有</td>
          			<td>${json4[1].B4_sum}</td>
          			<td>${json4[2].B4_sum}</td>
          			<td>${json4[3].B4_sum}</td>
          			<td>$!{json4[4].B4_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td>心绞痛</td>
          			<td>有</td>
          			<td>$!{json4[1].B6_sum}</td>
          			<td>$!{json4[2].B6_sum}</td>
          			<td>$!{json4[3].B6_sum}</td>
          			<td>$!{json4[4].B6_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td>糖尿病</td>
          			<td>有</td>
          			<td>$!{json4[1].B6d_sum}</td>
          			<td>$!{json4[2].B6d_sum}</td>
          			<td>$!{json4[3].B6d_sum}</td>
          			<td>$!{json4[4].B6d_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>近两周服用降压药</td>
          			<td>$!{json4[1].B7_sum}</td>
          			<td>$!{json4[2].B7_sum}</td>
          			<td>$!{json4[3].B7_sum}</td>
          			<td>$!{json4[4].B7_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>规律服用药物1</td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          		</tr>
          			<tr>
          			<td>血脂异常</td>
          			<td>有</td>
          			<td>$!{json4[1].B7a_sum}</td>
          			<td>$!{json4[2].B7a_sum}</td>
          			<td>$!{json4[3].B7a_sum}</td>
          			<td>$!{json4[4].B7a_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>近两周服用降压药</td>
          			<td>$!{json4[1].B8_1_sum}</td>
          			<td>$!{json4[2].B8_1_sum}</td>
          			<td>$!{json4[3].B8_1_sum}</td>
          			<td>$!{json4[4].B8_1_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>规律服用药物1</td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          		</tr>
          			<tr>
          			<td>其他心血管疾病</td>
          			<td>有心率失常</td>
          			<td>$!{json4[1].B8_3_sum}</td>
          			<td>$!{json4[2].B8_3_sum}</td>
          			<td>$!{json4[3].B8_3_sum}</td>
          			<td>$!{json4[4].B8_3_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>冠状动脉血运重建</td>
          			<td>$!{json4[1].B9_1_sum}</td>
          			<td>$!{json4[2].B9_1_sum}</td>
          			<td>$!{json4[3].B9_1_sum}</td>
          			<td>$!{json4[4].B9_1_sum}</td>
          			<td></td>
          		</tr>
          			<tr>
          			<td></td>
          			<td>有心衰</td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          			<td></td>
          		</tr>
          		<tr>
          			<td>其他病史</td>
          			<td>外周血管疾病</td>
          			<td>$!{json4[1].B9_2_sum}</td>
          			<td>$!{json4[2].B9_2_sum}</td>
          			<td>$!{json4[3].B9_2_sum}</td>
          			<td>$!{json4[4].B9_2_sum}</td>
          			<td></td>
          		</tr>
          		<tr>
          			<td></td>
          			<td>糖尿病肾病</td>
          			<td>$!{json4[1].B7a_sum}</td>
          			<td>$!{json4[2].B7a_sum}</td>
          			<td>$!{json4[3].B7a_sum}</td>
          			<td>$!{json4[4].B7a_sum}</td>
          			<td></td>
          		</tr>         		
         	</table>  
     </div>
        </div>
    </div>
</div>
<div id="l_foot">
	<p>Copyright(C)2010-2018康赛体检版权所有 工信部备案号:.京ICP备15960842号</p>
</div>
</body>
</html>