.h_wrap .h_bottom .h_left .h_leftcon {
	width: 583px;
	height: 802px;
	margin-top: 55px;
	margin-left: 52px;
	font-size: 29.72px;
	font-family: "黑体 Regular";
	color: #636363;
}

#tletitle {
	float: right;
	width: 494px;
	height: 57px;
	font-size: 24px;
	border: 2px dotted #cdcdcd;
	text-align: center;
	cursor: pointer;
	font-size: 24x;
}

#tletitle1 {
	float: right;
	width: 354px;
	height: 57px;
	font-size: 14px;
	margin-top: 38px;
	border: 2px dotted #cdcdcd;
	text-align: center;
	cursor: pointer;
	font-size: 14x;
}

#tle_box3 {
	float: left;
	width: 583px;
	height: 204px;
	margin-top: 42px;
	overflow: hidden;
}

#tlephoto {
	float: left;
	width: 280px;
	height: 200px;
	font-size: 24px;
	border: 2px dotted #cdcdcd;
	text-align: center;
	cursor: pointer;
}

#tlephoto #d_photo {
	width: 280px;
	height: 200px;
	margin-top: -36px;
	border: 2px dotted #cdcdcd;
	opacity: 0;
	text-align: center;
	float: left;
	cursor: pointer;
}

#tle_box3 #tlephoto1 {
	width: 280px;
	height: 200px;
	font-size: 24px;
	margin-left: 15px;
	border: 2px dotted #cdcdcd;
	text-align: center;
	float: left;
	cursor: pointer;
}

#tle_box3 #tlephoto1 #d_photo {
	width: 280px;
	height: 200px;
	font-size: 24px;
	margin-top: -36px;
	border: 2px dotted #cdcdcd;
	opacity: 0;
	text-align: center;
	float: left;
	cursor: pointer;
}

#tlecontent {
	float: left;
	width: 583px;
	height: 57px;
	font-size: 18px;
	margin-top: 38px;
	text-align: center;
	border: 2px dotted #cdcdcd;
	cursor: pointer;
}

#tle_box5 {
	float: left;
	width: 583px;
	height: 204px;
	margin-top: 42px;
	overflow: hidden;
}

#tle_box5 #tlephoto2 {
	float: left;
	width: 280px;
	height: 200px;
	border: 2px dotted #cdcdcd;
	text-align: center;
	cursor: pointer;
}

#tle_box5 #tlephoto2 #d_photo {
	width: 280px;
	height: 200px;
	margin-top: -36px;
	border: 2px dotted #cdcdcd;
	opacity: 0;
	text-align: center;
	float: left;
	cursor: pointer;
}

#tle_box5 #tlecontent1 {
	width: 280px;
	height: 200px;
	margin-left: 15px;
	font-size: 18px;
	border: 2px dotted #cdcdcd;
	text-align: center;
	float: left;
	cursor: pointer;
}

.h_wrap .h_top select {
	display: inline-block;
	float: left;
	height: 30px;
	color: #585858;
	font-size: 16px;
	margin: 20px 0 0 400px;
	border: none;
}

.h_wrap .h_bottom .h_left .h_leftcon #tlestate {
	display: none;
}

.h_wrap .h_bottom .h_left .h_leftcon #tleid {
	display: none;
}