/*
* @Author: Marte
* @Date:   2017-06-21 21:12:53
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-11 10:24:36
*/
.c_warp {
	min-width: 1100px;
}

.c_warp .c_conter {
	width: 1099px;
	height: 718px;
	margin: 28px auto 0;
	border: 1px solid #fff;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 25px 0px rgba(220, 220, 220, 0.7);
}

.c_conterl {
	width: 157px;
	height: 666px;
	border-right: 2px solid #b9b9b9;
	margin-top: 26px;
	float: left;
}

.c_breadcrumb {
	width: 1100px;
	margin: 37px auto 0;
	position: relative;
	overflow: hidden;
}

.c_breadcrumb li {
	float: left;
}

.c_breadcrumb li a {
	font: normal 18px "Adobe 黑体 Std R";
	color: #585858;
	margin-right: 9px;
	margin-left: 9px;
}

.c_breadcrumb .c_bselect {
	color: #248f60;
}

.c_warp .c_conter1 {
	margin-top: 15px;
}

.c_addlist {
	width: 800px;
	height: 30px;
	margin: 50px auto 0;
}

.c_addlist #c_add {
	position: relative;
	left: 750px;
	top: -10px;
}

.c_tw {
	margin: 0 auto;
}

.c_tadu {
	margin: 0 auto;
	border: solid thin #bfbfbf;
	text-align: center;
}

.c_tadu th,td {
	border-color: #dfdfdf;
}

.c_tadu th {
	height: 40px;
	background: #29ab72;
	font: normal 18px "黑体 Regular";
	color: #ffffff;
}

.c_tadu tbody tr td:nth-child(1) div {
	width: 18px;
	height: 18px;
	border: 1px solid #c9c9c9;
	margin-left: 26px;
}

.c_tadu tbody tr td:nth-child(1) input {
	width: 20px;
	height: 20px;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer;
}

.c_tadu td {
	height: 40px;
	font: normal 16px "黑体 Regular";
	color: #818181;
}

.c_tadu td img {
	width: 68px;
	height: 26px;
}

button {
	width: 45px;
	height: 25px;
	border: none;
	color: #fff;
	font-size: 15px;
	border-radius: 5px;
	outline: 0;
}

#c_add {
	background: #248f60;
}

#c_upd {
	background: #248f61;
}

#c_ent {
	background: #248f61;
}

.c_page {
	width: 500px;
	margin: 49px auto 0;
}